body {
    color: $textColor;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    overflow-y: scroll;
}

// Wrap
.wrap {
    overflow: hidden;
}

// Inputs
input,
select,
textarea,
button {
    padding: 12px 15px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="search"],
select,
textarea {
    transition-property: box-shadow, border-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    &:focus {
        border-color: $primaria;
        box-shadow: 0 0 15px rgba(#000000, .1);
    }
}

// Loading
.loading {
    display: none;
    vertical-align: middle;
    &.active {
        display: block;
    }
    > span {
        align-items: center;
        background-color: #ffffff;
        color: $primaria;
        cursor: default;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        justify-content: center;
        line-height: 1.00em;
        padding: 16px 20px 13px 20px;
        position: relative;
        text-transform: uppercase;
        .loader {
            animation: loader 1.1s infinite linear;
            border-bottom: 3px solid rgba($primaria, .3);
            border-left: 3px solid $primaria;
            border-top: 3px solid rgba($primaria, .3);
            border-right: 3px solid rgba($primaria, .3);
            border-radius: 50%;
            box-sizing: border-box;
            height: 16px;
            margin: -3.5px 10px 0 0;
            width: 16px;
        }
    }
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

// Form Alerts
.form-alert {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 750px;
    padding: 30px;
    text-align: center;
    width: 100%;
    svg {
        height: 50px;
        width: 50px;
        path {
            fill: $primaria;
        }
    }
    h2 {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.3em;
        margin: 0;
    }
    span {
        display: block;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4em;
    }
    &.success {
        background-color: rgba($success, 0.05);
        border: solid 1px rgba($success, 0.1);
        color: $success;
        svg {
            path {
                fill: $success;
            }
        }
    }
    &.error {
        background-color: rgba($error, 0.05);
        border: solid 1px rgba($error, 0.1);
        color: $error;
        &.hidden {
            display: none;
        }
        svg {
            path {
                fill: $error;
            }
        }
    }
}

// Text
.text {
    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.222em;
    }
}