@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icons/icomoon.eot?66pdqg');
  src: url('../fonts/icons/icomoon.eot?66pdqg#iefix') format('embedded-opentype'), url('../fonts/icons/icomoon.ttf?66pdqg') format('truetype'), url('../fonts/icons/icomoon.woff?66pdqg') format('woff'), url('../fonts/icons/icomoon.svg?66pdqg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-up:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-chevron-line-up:before {
  content: "\e908";
}
.icon-chevron-line-down:before {
  content: "\e909";
}
.icon-chevron-line-left:before {
  content: "\e90a";
}
.icon-chevron-line-right:before {
  content: "\e90b";
}
.icon-add:before {
  content: "\e90c";
}
.icon-bar:before {
  content: "\e90d";
}
.icon-photo:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-envelope:before {
  content: "\e910";
}
.icon-pin:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-facebook:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e914";
}
.icon-google-plus:before {
  content: "\e915";
}
.icon-instagram:before {
  content: "\e916";
}
.icon-whatsapp:before {
  content: "\e917";
}
.icon-youtube-play:before {
  content: "\e918";
}
.icon-tdh-logo:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}