// Apenas os resets e estrutura basica da pagina para otimização do critical CSS

// imports
@import "../colors";
@import "../mixins";

// Base
*{outline: none !important; -webkit-tap-highlight-color: rgba(0, 0, 0, 0)}

// http://meyerweb.com/eric/tools/css/reset/
// v4.0 | 20180602
// License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

// HTML5 hidden-attribute fix for newer browsers
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2em;
    margin: 0
}
h1 {font-size: 25px}
h2 {font-size: 23px}
h3 {font-size: 21px}
h4 {font-size: 19px}
h5 {font-size: 17px}
h6 {font-size: 15px}

// Strong/b
strong, b {
	font-weight: 700;
}

// Link
a {
	line-height: 1.2em;
	text-decoration: none;
	outline: none;
}

// Img
img {
    max-width: 100%;
    &[data-loaded="true"] {
        height: auto;
    }
}

// GRID
.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%
}
.row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
    box-sizing:border-box;
    padding: 0 15px;
    position: relative;
}
.grid-12{width:100%}
.grid-11{width:91.66666667%}
.grid-10{width:83.33333333%}
.grid-9{width:75%}
.grid-8{width:66.66666667%}
.grid-7{width:58.33333333%}
.grid-6{width:50%}
.grid-5{width:41.66666667%}
.grid-4{width:33.33333333%}
.grid-3{width:25%}
.grid-2{width:16.66666667%}
.grid-1{width:8.33333333%}

// Inputs
input,
select,
textarea,
button {
    appearance: none;
        -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    color: $textColor;
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: inherit;
    line-height: 1.00em;
    margin: 0;
    outline: none;
    padding: 15px;
    position: relative;
    resize: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="search"],
select,
textarea {
    border: solid 1px $borderColor;
    width: 100%;
    &::-webkit-input-placeholder {
        opacity: 0.6
    }
    &::-moz-placeholder {
        opacity: 0.6
    }
    &:-ms-input-placeholder {
        opacity: 0.6
    }
    &:-moz-placeholder {
        opacity: 0.6
    }
}
textarea {
    height: 130px;
}